.notFoundSection {
    width: 100%;
    height: calc(100vh - 200px);
}

.notFoundContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}