.navbarContainer {
  padding: 0.5rem 3rem;
  background: #fff;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 0;
  height: 80px;
  color: #f2a1b0;
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.logo:hover {
  transform: scale(1.05);
  color: #c58490;
}

.menuItems {
  display: flex;
  list-style: none;
}

.menuItem {
  text-decoration: none;
  margin-right: 25px;
  font-weight: 600;
}

.menuItem:hover {
  color: #c58490;
}

.menuItem:last-child {
  margin-right: 0;
}

.menuItem a {
  text-decoration: none;
  color: inherit;
}

.bars {
  display: none;
  color: inherit;
  cursor: pointer;
  font-size: 2.5rem;
}

.bars:hover {
  transform: scale(1.1);
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  color: #f2a1b0;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

.dropbtn .arrow {
  margin-left: 0.2rem;
}

.dropbtn:hover,
.arrow:hover {
  color: #c58490;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f2a1b0;
  border: 1px solid #f2a1b00e;
  min-width: 8rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  transform: scale(1.05);
}

.dropdown-content a {
  float: none;
  font-weight: 600;
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 768px) {
  .navbarContainer {
    padding: 0.5rem 1.5rem;
  }

  .logoText {
    font-size: 2rem;
  }

  li {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .menuItems {
    display: none;
  }

  .bars {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  li,
  .dropbtn {
    font-size: 18px !important;
  }
}
